<ion-view view-title="Profile">
  <ion-content class="padding" ng-init="getCurrentUser()">
         <h2 class="text-center">USER PROFILE</h2>
         <br><br>
                <div class="list">

                  <label class="item item-input">
                    <span class="input-label">Prénom :*</span>
                    <input type="text" ng-model="currentUser.firstName" >
                  </label>

                  <label class="item item-input">
                    <span class="input-label">Nom :*</span>
                    <input type="text"  ng-model="currentUser.lastName">
                  </label>

                  <label class="item item-input">
                    <span class="input-label">Nom d'utilisateur :*</span>
                    <input type="text"  ng-model="currentUser.username" >
                  </label>

                  <label class="item item-input">
                    <span class="input-label">Email :*</span>
                    <input type="text"  ng-model="currentUser.email" readonly="true">
                  </label>

                </div>
                <br>
           <button class="button button-full button-calm" ng-click="updateProfile()">Modifier</button>
  </ion-content>
</ion-view>
